apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: data-marketplace
spec:
  environments:
  - name: prod
    build:
      from: main
  components:
  - name: web
    publicPort: http
    ports:
    - name: http
      port: 3000
    environmentConfig:
    - environment: prod
      resources:
        requests:
          memory: 512Mi
          cpu: 100m
        limits:
          memory: 1Gi
          cpu: 1000m
      variables:
        BASE_URL: https://web-data-marketplace-prod.radix.equinor.com/
    variables:
      NEXT_PUBLIC_COLLIBRA_BASE_URL: https://equinor-dev.collibra.com/rest/2.0
      NEXT_PUBLIC_AUTH_AUTHORITY: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0
      NEXT_PUBLIC_AUTH_CLIENT_ID: 41912e0a-18ba-46d8-98a3-634a38b8fffb

  dnsAppAlias:
    environment: prod
    component: web
